/*Css generale */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
};

body {
    font-size: 14px;
}

.flexRowCenter {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.flexRowSpaceAround {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.flexColumnCenter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    width: 70%;
    margin: 0 auto;
}

.inlineList {
    list-style: none;
}
.inlineList li {
    display: inline-block;
}
.inlineList li a {
    color: black;
    text-decoration: none;
}

/*Css Header */

.headerLogo {
    margin-bottom: 30px;
}

.headerNavbar {
    width: 100%;
}

.headerNavbar li{
    padding: 12px;
}
.headerNavbar li:hover {
    background-color: #B3E5FC;
}

.headerNavbar li a {
    font-family: 'Coda', cursive;
    font-size: 25px;
    color: rgba(0,25,66,1);
}

/* Fine Css Header */


/*Css Footer */

footer {
    background-color: #001942;
    color: white;
    height: 20vh;
}

/* Fine Css footer */